html {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border: 12.5px solid #9172ca;
}
                
header > h1 {
  text-align: left;
  padding-left: 5%;
  padding-top: 1.5%;
  font-family: 'Fraunces', serif;
}
                
form {
  font-family: 'Fraunces', serif;
  max-width: 50%;
  margin: 0 auto;
  border: 2px solid grey;
  padding: 2em 1em;
  position:relative; left: 23%;
  
}
                
.form-row {
  display: flex;
  /* justify-content: flex-end; */
  padding: .5em;
}
                
.form-row > label {
  width: 100px;
}
                
.form-row > input,
.form-row > select {
  padding: .5em;
  max-width: 300px;
}

.tasklistBorder {
padding-top: 7%;
position:absolute; left:80px; top:20px;
font-family: 'Fraunces', serif;
}

/* Game Title */
.titleFont label {
font-size: 30px;
padding-right: 1em;
/* background-color: #b798f0; */
}

/* What Platform? */
.platformFont label {
font-size: 30px;
padding-right: 1em;
}

/* Hours Played? */
.hoursFont label {
font-size: 30px;
padding-right: 1.6em;
}

/* Replayed? */
.replayFont label {
font-size: 30px;
padding-right: 1em;
}

/* Like/Dislike? */
.likeFont label {
font-size: 30px;
padding-right: 1em;
}

/* CSS */
.gameRating {
display: inline-block;
}

.gameRating input {
display: none;
}

.gameRating label {
font-size: 30px;
color: #ccc;
cursor: pointer;
}

.gameRating label:before {
content: '\2605';
}

.gameRating input:checked ~ label {
color: #ffdd00; /* Change to your desired color */
}

.gameRating label:hover:before,
.gameRating label:hover ~ label:before {
content: '\2605';
color: #ffdd00; /* Change to your desired color */
}

.starRating {
font-size: 30px;
color: #000000;
padding: .5em;
/* padding-right: 70%; --> will use padding to make stars vertical in their own div*/
/* position:relative; right: 50%; */
}