html {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border: 12.5px solid #9172ca;
}
                
header > h1 {
  text-align: left;
  padding-left: 5%;
  padding-top: 1.5%;
  font-family: 'Fraunces', serif;
  font-size: 50px;
}
                
form {
  font-family: 'Fraunces', serif;
  max-width: 50%;
  height: 370px;
  margin: 0 auto;
  border: 2px solid grey;
  padding: 2em 1em;
  position:relative; left: 23%;
}
                
.form-row {
  display: flex;
  padding: .5em;
}
                
.form-row > label {
  width: 100px;
}
                
.form-row > input,
.form-row > select {
  padding: .5em;
  max-width: 300px;
}

.tasklistBorder {
padding-top: 7%;
position:absolute; left:80px; top:20px;
font-family: 'Fraunces', serif;
font-size: 20px;
}

/* Game Title */
.titleFont label {
font-size: 30px;
color: #ffffff;
padding-right: 1em;
position: relative; bottom: 20px;
}

.rectangleTitle {
width: 100%; 
height: 75px; 
background-color: #b798f0; 
position: absolute;
top: 0;
left: 0;
z-index: -1;
}

.inputTitle > input {
padding: .5em;
max-width: 300px;
position: absolute; right:50px; top:20px;
}

.rectanglePlatform {
width: 100%; 
height: 100px; 
background-color: #7ed1fb; 
position: absolute;
top: 75px;
left: 0;
z-index: -1;
}

.selectPlatform > select {
padding: .5em;
max-width: 300px;
position: absolute; right:75px; top:105px;
}

.rectangleHours {
width: 100%; 
height: 100px; 
background-color: #ea5d64; 
position: absolute;
top: 175px;
left: 0;
z-index: -1;
}

.inputHours > input {
padding: .5em;
max-width: 300px;
position: absolute; right:50px; top:210px;
}

.rectangleRating {
width: 50%; 
height: 112px; 
background-color: #485df9; 
position: absolute;
top: 275px;
left: 0;
z-index: -1;
}

.rectangleReplay {
width: 75%; 
height: 112px; 
background-color: #e298f0; 
position: absolute;
top: 275px;
left: 0;
z-index: -2;
}

.selectReplay > select {
padding: .5em;
max-width: 300px;
position: absolute; right: 300px; top: 325px;
}

.rectangleLike {
width: 100%; 
height: 112px;  
background-color: #f4d79a; 
position: absolute;
top: 275px;
left: 0;
z-index: -3;
}

.selectLike > select {
padding: .5em;
max-width: 300px;
position: absolute; right: 50px; top: 325px;
}

.rectangleSubmit {
width: 100%; 
height: 50px; 
background-color: #9af098; 
position: absolute;
top: 385px;
left: 0;
z-index: -1;
}

.inputSubmit > input {
padding: .5em;
max-width: 300px;
position: absolute; right:50%; top:395px;
}

/* What Platform? */
.platformFont label {
font-size: 30px;
color: #ffffff;
padding-right: 1em;
position: absolute; top: 105px;
}

/* Hours Played? */
.hoursFont label {
font-size: 30px;
color: #ffffff;
padding-right: 1.6em;
position: absolute; top: 205px;
}

/* Replayed? */
.replayFont label {
font-size: 20px;
color: #ffffff;
padding-right: 1em;
position: absolute; top: 290px; right: 295px;
}

/* Like/Dislike? */
.likeFont label {
font-size: 20px;
color: #ffffff;
padding-right: 1em;
position: absolute; top: 290px; right: 30px;
}

/* Below is the CSS for the star rating on the form, ending at '.starRating' */
.gameRating {
display: inline-block;
}

.gameRating input {
display: none;
}

.gameRating label {
font-size: 30px;
color: #ccc;
cursor: pointer;
position: relative; top: 180px; left: 90px;
}

.gameRating label:before {
content: '\2605';
}

.gameRating input:checked ~ label {
color: #ffdd00;
}

.gameRating label:hover:before,
.gameRating label:hover ~ label:before {
content: '\2605';
color: #ffdd00;
}

.starRating {
font-size: 30px;
color: #ffffff;
padding: .5em;
position: relative; top: 167px; left: 65px;
}










@media(max-width: 700px){
  header > h1 {
  text-align: left;
  padding-left: 5%;
  padding-top: 1.5%;
  font-family: 'Fraunces', serif;
  font-size: 50px;
}
                
form {
  font-family: 'Fraunces', serif;
  max-width: 50%;
  height: 370px;
  margin: 0 auto;
  border: 2px solid grey;
  padding: 2em 1em;
  position:relative; left: 23%;
}
                
.form-row {
  display: flex;
  padding: .5em;
}
                
.form-row > label {
  width: 100px;
}
                
.form-row > input,
.form-row > select {
  padding: .5em;
  max-width: 300px;
}

.tasklistBorder {
padding-top: 7%;
position:absolute; left:80px; top:20px;
font-family: 'Fraunces', serif;
font-size: 10px;
}

/* Game Title */
.titleFont label {
font-size: 30px;
color: #ffffff;
padding-right: 1em;
position: relative; bottom: 20px;
}

.rectangleTitle {
width: 100%; 
height: 75px; 
background-color: #b798f0; 
position: absolute;
top: 0;
left: 0;
z-index: -1;
}

.inputTitle > input {
padding: .5em;
max-width: 300px;
position: absolute; right:50px; top:20px;
}

.rectanglePlatform {
width: 100%; 
height: 100px; 
background-color: #7ed1fb; 
position: absolute;
top: 75px;
left: 0;
z-index: -1;
}

.selectPlatform > select {
padding: .5em;
max-width: 300px;
position: absolute; right:75px; top:105px;
}

.rectangleHours {
width: 100%; 
height: 100px; 
background-color: #ea5d64; 
position: absolute;
top: 175px;
left: 0;
z-index: -1;
}

.inputHours > input {
padding: .5em;
max-width: 300px;
position: absolute; right:50px; top:210px;
}

.rectangleRating {
width: 50%; 
height: 112px; 
background-color: #485df9; 
position: absolute;
top: 275px;
left: 0;
z-index: -1;
}

.rectangleReplay {
width: 75%; 
height: 112px; 
background-color: #e298f0; 
position: absolute;
top: 275px;
left: 0;
z-index: -2;
}

.selectReplay > select {
padding: .5em;
max-width: 300px;
position: absolute; right: 300px; top: 325px;
}

.rectangleLike {
width: 100%; 
height: 112px;  
background-color: #f4d79a; 
position: absolute;
top: 275px;
left: 0;
z-index: -3;
}

.selectLike > select {
padding: .5em;
max-width: 300px;
position: absolute; right: 50px; top: 325px;
}

.rectangleSubmit {
width: 100%; 
height: 50px; 
background-color: #9af098; 
position: absolute;
top: 385px;
left: 0;
z-index: -1;
}

.inputSubmit > input {
padding: .5em;
max-width: 300px;
position: absolute; right:50%; top:395px;
}

/* What Platform? */
.platformFont label {
font-size: 30px;
color: #ffffff;
padding-right: 1em;
position: absolute; top: 105px;
}

/* Hours Played? */
.hoursFont label {
font-size: 30px;
color: #ffffff;
padding-right: 1.6em;
position: absolute; top: 205px;
}

/* Replayed? */
.replayFont label {
font-size: 20px;
color: #ffffff;
padding-right: 1em;
position: absolute; top: 290px; right: 295px;
}

/* Like/Dislike? */
.likeFont label {
font-size: 20px;
color: #ffffff;
padding-right: 1em;
position: absolute; top: 290px; right: 30px;
}

/* Below is the CSS for the star rating on the form, ending at '.starRating' */
.gameRating {
display: inline-block;
}

.gameRating input {
display: none;
}

.gameRating label {
font-size: 30px;
color: #ccc;
cursor: pointer;
position: relative; top: 180px; left: 90px;
}

.gameRating label:before {
content: '\2605';
}

.gameRating input:checked ~ label {
color: #ffdd00;
}

.gameRating label:hover:before,
.gameRating label:hover ~ label:before {
content: '\2605';
color: #ffdd00;
}

.starRating {
font-size: 30px;
color: #ffffff;
padding: .5em;
position: relative; top: 167px; left: 65px;
}
}